# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
*.zip
!**/tools/qpid-broker/6.1.4/lib/*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

temp/

*.scss

target/
*.iml
/.idea/
**/webapp/VAADIN/themes/mytheme/styles.css
/storage/

tools/qpid-broker/6.1.4/work
!tools/qpid-broker/6.1.4/work/config.json

repository/**/maven-metadata*.xml
repository/**/_remote.repositories
repository/**/akunevich/
**/*.war
**/envisionable/
**/copilot-web/
**/alignmentlabs/

tools/
mysql/
docker-logs/
/protectotron.paw
